table{
  thead{
    tr.fc-scrollgrid-section{
      table.fc-col-header {
        height: 53px;
      }
    }
  }
}

.fc-scrollgrid-sync-inner{
  text-align: right;
}
.fc-col-header-cell-cushion {
  font-family: 'Caros Soft';
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 8px;
  text-decoration: none;
  text-align: right;
  margin-top:1rem;
  margin-right:.75rem;
/* identical to box height, or 75% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.fc-button{
  &:visible{
    box-sizing: none;
  }
}

.fc-share-button.fc-button{
  background: #FFB350;
  border:none;
border-radius: 100px;
  width:150px;
  &:hover{
    background: #FFB350;
    filter:brightness(70%);
  }
  &:active{
    background: #FFB350 !important;
  }
  &:focus{
    background: #FFB350;
  }
}
th .fc-scrollgrid-sync-inner{
  height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
th.fc-col-header-cell.fc-day{
  border-right:1px solid transparent;
}
.fc-scrollgrid{
  background: #FFFFFF;
  border: 0.64px solid #E9E9E9 !important;
  box-sizing: border-box;
  border-radius: 12.16px;
  .fc-theme-standard th{
    border:none;
  }
  .fc-daygrid-day-number{
    font-family: "Caros Soft";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 8px;
    margin-top:.75rem;
    margin-right:.75rem;
    /* or 75% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }
}
.fc-theme-standard td, .fc-theme-standard th{
  border:1px solid #e9e9e9;

}
.fc-theme-standard tr:last-child tbody tr:last-child td{
  border-bottom: 1px solid transparent !important;
}
.fc-theme-standard td:last-child, .fc-theme-standard th:last-child{
  border-right:1px solid transparent;
}
.fc-daygrid-day-number{
  text-decoration: none;

}
.fc-scroller .fc-scroller-liquid-absolute{
  display: none;
}
.fc-scroller.fc-scroller-liquid-absolute{

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
}
.fc-toolbar-chunk .fc-myCustomButton-button{
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 12px;
  /* or 46% */

  display: flex;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border:none !important;
  color: #000000;
  outline: none;
    &:hover{
      background-color: auto;
    }
}
.fc-toolbar{
  display: flex;
  justify-content: center !important;
}
.fc-toolbar-chunk:nth-child(2){
  .custom-title{
    display:flex;
    flex-direction: column;
    min-width:auto;
  }
  div{
    min-width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .fc-toolbar-title{
      
      font-family:" Noto Sans KR";
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 12px;
      /* or 60% */
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
    }
    button{
      color:#000000;
      background-color: #fff;
      border:none;
      &:hover{
        background-color: #fcfcfe;
        color:#000000;
      }
      &:active{
        
        color:#000000;
        background-color: #fcfcfe !important;
        box-shadow: none;
      }
      &:focus{
        box-shadow: none !important;

      }
    }
  }
}

 tr:nth-child(6) td{
   
  border-bottom:1px solid transparent !important;
}

.fc-toolbar-chunk:nth-child(3){
  
  position: absolute;
  right: 0;
}
fc-daygrid-event-harness.fc-daygrid-event-harness-abs{
  margin-top:0.25rem;
}
.fc .fc-daygrid-day-events{
  margin-top: 6px;
}
.fc-daygrid-day-events > div.fc-daygrid-event-harness.fc-daygrid-event-harness-abs > a {
  border-radius: 6px;
  // height:16px;
}
@media (max-width: 797px) { 
  .fc-toolbar-chunk:nth-child(3){
    display:none;
  }
}