.login-detail{
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;

  color: #737373;
}
.login-btn{
  font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 12px;
width: 240px;
height: 48px;
/* identical to box height, or 75% */


color: #FFFFFF;

}